
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);  
    overflow: hidden;
}

.box_1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #ffffff;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgb(114, 121, 121);
    border-radius: 10px;
    background-color: #ebebeb;

}

.box_1 h2{
    margin: 0 0 40px;
    padding: 0;
    color:  #414141;
    text-transform: uppercase;
  }

.box_1 input{
    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid  #414141;
    /**/
    background-color:  #eceaea;

}

.button_next{
   position: absolute;
   margin-left: 85%;
   margin-top: -15px;
  
}

.button{
    border-bottom: none;
    cursor: pointer;
    background-color: #414141;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 4px;
}

.button:hover{
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
  transition: 0.5s;  
  padding-right: 15px;
  background-color: rgb(0, 0, 0);
  font-style: italic;
}

.box_1 form div{
    position: relative;
}

.box_1 form div label{
  position:absolute;  
  left:0px;
  pointer-events: none;
  color:#746f6f;
  transition: .5s;
}

.box_1 input:focus ~ label,
.box_1 input:valid ~ label{
  top: -20px;  
  color:  #414141;
  font-size: 12px;
  font-weight: bold;
}

.box_1 input:focus,
.box_1 input:valid{
  border-bottom: 2px solid #4e4f50;;
}


    

.output-container{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /*aligning div*/
    width: 600px;
    height: 50px;
    margin: auto;
    
    /*set animation*/
    animation:fadeInTop 2.5s;
    
    /*display none attribute here so I can load the output in my (JavaScript)*/
    display: none;
}
@keyframes fadeInTop {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.output-container .results-part-1{
    position:absolute;
    pointer-events: none;
    margin-top: 35px;
    text-align: left;
    margin-left: 150px;
    color: rgb(243, 240, 240);
    padding-left: 25px;
    border-left: 2px solid rgb(3, 255, 234);
}

.output-container .results-part-2{
  text-align: justify;
  position:absolute;
  pointer-events: none;
  margin-top: 35px;
  text-align: left;
  color: rgb(243, 240, 240);
  padding-left: 25px;
  border-left: 2px solid rgb(3, 255, 234);
  animation:fadeInTop 2.5s;
    
  /*display none attribute here so I can load the output in my (JavaScript)*/
  display: none;
}



/*Styling 'DIV' created in JS*/
#myDiv {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #ffffff;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgb(114, 121, 121);
    border-radius: 10px;
    background-color: #ebebeb;


     /*set animation*/
     animation:fadeInTop 2.5s;
    
     /*display none attribute here so I can load the output in my (JavaScript)*/
     
}

@keyframes fadeInTop {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


#myDiv input{
padding: 10px 0;
margin-bottom: 30px;
width: 100%;
box-sizing: border-box;
box-shadow: none;
outline: none;
border: none;
border-bottom: 2px solid  #414141;
background-color:  #eceaea;
}

#myDiv p{
    position:absolute;
    bottom: 70%;
    pointer-events: none;
    color: #414141;
    
  }

/*button*/
 #button_2{
     border-bottom: none;
     cursor: pointer;
     background-color: #414141;
     color: #ffffff;
     border: none;
     border-radius: 4px;
     text-transform: uppercase;
     padding: 4px;
 }
 
 #button_2:hover{
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
  transition: 0.5s;  
  padding-right: 15px;
  background-color: rgb(0, 0, 0);
  font-style: italic;
 }


 /*hides PDF generator / start over page*/
 .pdf-start{
  position: absolute;
  top: 70%;
  right: 15px;
  display: none;
  padding: 10px;
  width: 125px;
  animation:fadeInTop 6s;
 }

 .pdf-start a{
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 10px;
 
}

 .pdf-start a:hover{
  width: 100px;
  cursor: pointer;
  transition: 0.5s;
  transition: 0.5s;  
  padding-left: 20px;
  background-color:aqua;
  font-style: italic;
  color: black;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
 }
