
  
  body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }

  .waver-container {
    position: absolute;
    margin-bottom:30%;
  }

  .waver-container span {
    position: relative;
    font-weight: 600;
    display: inline-block;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }

  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }


  /*INTRO CONTAINER*/
 .intro-container p{
  color: aliceblue;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 10px;
  font-size: 15px;
  text-align: justify;
  border-left: 0.5px solid rgb(206, 205, 205);
  padding: 40px;
  margin-left: 35px;
  animation: fadeInLeft 5s;

}

@keyframes fadeInLeft {
0% { opacity: 0; }
100% { opacity: 1; }
}

/*BUTTON START */
.button-start{
    position: absolute;
    padding: 15px;
    margin-top: 400px;
    cursor: pointer;
    width: 100px;
 }

 .button-start a{
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding: 5px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 10px;
 }

 .button-start a:hover{
  width: 100px;
  cursor: pointer;
  transition: 0.5s;
  transition: 0.5s;  
  padding-left: 20px;
  background-color:aqua;
  font-style: italic;
  color: black;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
 }
